<!DOCTYPE html>
<html>

<head>
    <title>Our Website</title>
    <!--
Coming2Live series free coming soon templates!
HTML version by Awe7 (http://awe7.com/)
You can find WordPress version here:
https://wordpress.org/plugins/coming2live/
-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Fonts-->
    <link rel="stylesheet" type="text/css" href="stylesheets/index/font-awesome.min.css">
    <!-- Vendors-->
    <link rel="stylesheet" type="text/css" href="stylesheets/index/grid.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/index/jquery.mb.YTPlayer.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/index/vegas.min.css">
    <!-- App & fonts-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Work+Sans:300,400,500,700">
    <link rel="stylesheet" type="text/css" id="app-stylesheet" href="stylesheets/index/main.css">
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
</head>

<body>
    <div class="page-wrap" id="root">
        <!-- Content-->
        <div class="md-content">

            <!-- hero -->
            <div class="hero md-skin-dark" style="background-image:url(https://images.pexels.com/photos/764880/pexels-photo-764880.jpeg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb);">

                <!-- header -->
                <div class="header">
                    <div class="header__left"><span>2020级</span><span>纪念</span><span><a href="/message" target="_blank" class="messagelink">留言</a></span>
                    </div>
                    <div class="header__social">

                        <!-- social-icon -->
                        <a class="social-icon social-icon__rounded" href="#"><i class="fa fa-facebook"></i>
							</a>
                        <!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon social-icon__rounded" href="#"><i class="fa fa-twitter"></i>
							</a>
                        <!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon social-icon__rounded" href="#"><i class="fa fa-behance"></i>
							</a>
                        <!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon social-icon__rounded" href="#"><i class="fa fa-google-plus"></i>
							</a>
                        <!-- End / social-icon -->

                    </div>
                </div>
                <!-- End / header -->

                <div class="container">
                    <div class="hero__wrapper">
                        <div class="row">
                            <div class="col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 ">
                                <div class="hero__title_inner"><span class="hero__icon">K</span>
                                    <h1 class="hero__title">Countdown to Graduation</h1>
                                    <p class="hero__text">蓄势待发的我们即将迎来新的征程。<br>当你迷茫时，不要忘记回来寻找自己的初心。</p>
                                </div>
                            </div>
                        </div>

                        <!-- countdown__module hide undefined -->
                        <div class="countdown__module hide" data-date="2024/7/1">
                            <p><span>%D</span> Days</p>
                            <p><span>%H</span> Hours</p>
                            <p><span>%M</span> Minutes</p>
                            <p><span>%S</span> Seconds</p>
                        </div>
                        <!-- End / countdown__module hide undefined -->


                        <div class="service-wrapper">

                            <!-- service -->
                            <div class="service">
                                <h2 class="service__title"></h2>
                                <p class="service__text"></p>
                            </div>
                            <!-- End / service -->


                            <!-- service -->
                            <div class="service">
                                <h2 class="service__title"></h2>
                                <p class="service__text"></p>
                            </div>
                            <!-- End / service -->


                            <!-- service -->
                            <div class="service">
                                <h2 class="service__title"></h2>
                                <p class="service__text"></p>
                            </div>
                            <!-- End / service -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- End / hero -->

        </div>
        <!-- End / Content-->
    </div>
    <!-- Vendors-->
    <script type="text/javascript" src="javascripts/index/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/index/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="javascripts/index/fss.min.js"></script>
    <script type="text/javascript" src="javascripts/index/particles.js"></script>
    <script type="text/javascript" src="javascripts/index/waterpipe.js"></script>
    <script type="text/javascript" src="javascripts/index/quietflow.min.js"></script>
    <script type="text/javascript" src="javascripts/index/jquery.mb.YTPlayer.min.js"></script>
    <script type="text/javascript" src="javascripts/index/vegas.min.js"></script>
    <!-- App-->
    <script type="text/javascript" src="javascripts/index/main.js"></script>
</body>

</html>